body {
	Margin: 0;
	padding: 0;
	min-width: 100%;
	background-color: #ffffff;
}

table {
	border-spacing: 0;
	border-collapse: collapse;
    padding: 0;
    mso-table-lspace: 0pt;
	mso-table-rspace: 0pt;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
    color: #333333;
}

td {
    padding: 0;
}

img {
	border: 0;
	outline: none;
    -ms-interpolation-mode: bicubic;
	padding: 0;
	width: 100%;
    height: auto;
}

a {
	text-decoration: none;
	cursor: pointer;
}

/* Windows Phone Viewport Fix */
@-ms-viewport { 
    width: device-width; 
}

.wrapper {
    width: 100%;
    table-layout: fixed;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.webkit {
    max-width: 640px;
}

.outer {
    Margin: 0 auto;
    width: 100%;
	max-width: 640px;
	background-color: #ffffff;
}

.outer-column {
    text-align: center;
    font-size: 0;
}

.outer-column {

	.column {
		width: 100%;
		display: inline-block;
		vertical-align: top;
	}
}

.contents {
    width: 100%;
}